body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(90deg, #020a33, #0011ff4a);
    padding-top: 5%;
}

.infoDisplay {
    font-size: large;
    background-color: white;
    border-radius: 24px;
    border-style: solid 1px;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 0;
    width: 25%;
    text-align: left;
    margin: 5px;
}

.image {
    padding: 0;
    height: 100px;
    width: 100px;

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button, input {
    font-family: "Poppins", sans-serif;
    align-items: center;
    background-color: #ffffff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    width: auto;
    margin: 5px;
}

button:hover {
    background-color: #b8c7d2;
}

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.forecast {
    display: flex;
    justify-content: center;
    
}

.forecastBox {
    margin: 20px;
    margin-top: 100px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    border-radius: 24px;
    border-style: none;
    height: 10%;
    width: 10%;
}

p {
    margin: 2px;
}

.footer {
    display: flex;
    height: 10vh;
    font-size: 20px;
    justify-content: center;
    align-items: end;
    color: #151617;
    margin-bottom: 0;
    margin-top: 50px;
}